@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');
.hc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--space-300);
  padding-right: var(--space-300);

  .avatar {
    cursor: pointer;
    display: none;
    align-self: start;
    height: 50px;
    width: 50px;
    @media (max-width: 800px) {
      display: block;
    }

    img {
      object-fit: contain;
      border-radius: 100%;
      height: auto;
      width: 50px;
    }
  }

  .module {
    color: var(--color-dark-shade);
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    font-size: var(--size-400);
    margin-left: auto;

    &:hover {
      color: var(--color-accent-critical);
    }

    &[data-module] {
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      &:visited {
        color: var(--color-secondary);
      }
    }
  }
}
