.u-constrain {
  border: 2px dashed #00f0ff;
  max-width: 1440px;
}

.u-sitewrap {
  border: 2px dashed #fca600;
  // max-width: 100vw;
}

.u-window {
  border: 2px dashed #fe0404;
  // max-width: 100vw;
}
