.sp-y-200 {
  padding-top: var(--size-200);
  padding-bottom: var(--size-200);
}
.sp-y-300 {
  padding-top: var(--size-300);
  padding-bottom: var(--size-300);
}
._sp-y-400 {
  padding-top: var(--size-400);
  padding-bottom: var(--size-400);
}
._sp-y-500 {
  padding-top: var(--size-500);
  padding-bottom: var(--size-500);
}

._sp-x-200 {
  padding-left: var(--size-200);
  padding-right: var(--size-200);
}
._sp-x-300 {
  padding-left: var(--size-300);
  padding-right: var(--size-300);
}
._sp-x-400 {
  padding-left: var(--size-400);
  padding-right: var(--size-400);
}
._sp-x-500 {
  padding-left: var(--size-500);
  padding-right: var(--size-500);
}
._pb-0 {
  padding-bottom: 0;
}