---
layout: 'layouts/page.njk'
title: 'About'
---

{% block content %}
<div class="o-constrain -narrow">
  <article class="content-box stack _md:gap-left">
    <h3 class="name">{{title}}</h3>

    <p>
      <strong>Hello there — I’m a design engineer</strong> passionate about creating
      digital experiences that are intentional, elegant, and built to resonate.
      I’m curious, methodical, and driven to explore both the story and mechanics
      behind every design—bringing others along on the journey. Off the keyboard,
      I’m a husband, father, disciple, and someone who feels most alive outdoors.
    </p>
    
    <p>
      When I’m not designing or coding, you’ll usually find me spending time with
      my wife and kids, studying the Bible, playing piano, or learning everything
      I can about permaculture, micro-farming, and architecture.
    </p>
    
    <p>
      Nice to meet you, and thanks for visiting.
    </p>

  </article>
</div>
{% endblock %}
