---
layout: 'layouts/page.njk'
title: 'About'
---

{% block content %}
<div class="o-constrain -narrow">
  <article class="content-box stack _md:gap-left">
    <h3 class="name">{{title}}</h3>

    <p>Hi, my name is Nicholas. I'm a UI designer and developer living in Texas.
    I grew up in a small town in central Oklahoma and spent my childhood enjoying the outdoors and spending quality time with my family and friends.</p>

    <p>Growing up, I was your typical kid, riding bikes, playing video games, and liking to watch Saturday morning cartoons. 
    Now that I'm all grown up (at least I pretend to be 😜), I spend time writing code alongside designing with pixels in Figma and Sketch. 
    When I'm not designing or coding, you'll find me hanging with my wife and kiddos, studying the Bible, playing the piano, or learning as much as possible about permaculture, micro-farming, and architecture.</p>

    <p>Nice to meet ya, and thanks for visiting. <br />
    -N
    </p>

  </article>
</div>
{% endblock %}