---
layout: 'layouts/page.njk'
title: 'Journal'
headline: 'Thoughts and Scribbles'
intro: 'A collection of thoughts, life journeys and pretty much randomness.'
blurb: 
quote: 
  text:
  author: '- King Solomon'
---

{% block content %}
{% if blurb %}
<hc-panel size="xl" tokens="_flx-column _lg:flx-row _pb-0">
  <div class="flex-item _lg:aligns-end stack">
     {% include "modules/large-pageheading.njk" %}
    {% include "modules/content-box.njk" %}

    <div class="_sp-y-400" style="color:#2b5881;font-family:'Montserrat';font-weight:500;background:#fafafa;padding:1rem;text-align:center;">
     

    {{ blurb }}
    </div>
  </div>
</hc-panel>
{% endif %}
{% endblock %}
